.About{
	padding: 100px 0;

	.about_job{
		span{
			margin: 0 80px;
			i{
				font-size: 50px;
				margin-bottom: 20px;
				text-align: center;
			}

		}
		h3{
			text-align: center;
		}
		p{
			text-align: center;
		}
	}

	.about_us{
		h1{
			text-align: center;
		}
		p{
			text-align: center;
		}
	}
}


