

.Team{
	
	padding: 100px;
	.team_us{
		h1{
			text-align: center;
		}
		p{
			text-align: center;
		}
	}
	.best{
		position: relative;
		height: 300px;
		width: 300px;

		.owerlay{
			opacity: 0.8;
			position: absolute;
			img{
				height: auto;
				width: 100%;
			}
		}

		.best_text{
			text-align: center;
			position: absolute;
			bottom: 140px;
			left: 82px;
			color: #fff;
		}

		.icon{
			position: absolute;
			bottom: 110px;
			left: 110px;

			ul{

				li{
					display: inline-block;
					list-style-type: none;
					a{
						text-decoration: none;
						opacity: 0.7;
						padding: 5px;
						color:$ag;

						&:hover{
							text-decoration: none;
							color:$ag;
						}
					}
				}
			}

		}

	}
}

.desing{
	background-attachment: fixed;
	background-image: url(../Img/bg-quote.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	.desing_man{
		text-align: center;
		color:$ag;
		margin: 90px 0px;
	}
	span{
		color:red;
	}
	button{
		width: 150px;
		height: 50px;
		background-color: transparent;
		outline: none;
		border: 1px solid $ag;
		color:$ag; 
		transition:all 0.6s ease-in-out;
		&:hover{
			background-color: $ag;
			color:red;
		}
	}
}


