body {
  transition: all 0.5s ease-in-out;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

a {
  text-decoration: none;
}

.About {
  padding: 100px 0;
}
.About .about_job span {
  margin: 0 80px;
}
.About .about_job span i {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.About .about_job h3 {
  text-align: center;
}
.About .about_job p {
  text-align: center;
}
.About .about_us h1 {
  text-align: center;
}
.About .about_us p {
  text-align: center;
}

.Team {
  padding: 100px;
}
.Team .team_us h1 {
  text-align: center;
}
.Team .team_us p {
  text-align: center;
}
.Team .best {
  position: relative;
  height: 300px;
  width: 300px;
}
.Team .best .owerlay {
  opacity: 0.8;
  position: absolute;
}
.Team .best .owerlay img {
  height: auto;
  width: 100%;
}
.Team .best .best_text {
  text-align: center;
  position: absolute;
  bottom: 140px;
  left: 82px;
  color: #fff;
}
.Team .best .icon {
  position: absolute;
  bottom: 110px;
  left: 110px;
}
.Team .best .icon ul li {
  display: inline-block;
  list-style-type: none;
}
.Team .best .icon ul li a {
  text-decoration: none;
  opacity: 0.7;
  padding: 5px;
  color: #fff;
}
.Team .best .icon ul li a:hover {
  text-decoration: none;
  color: #fff;
}

.desing {
  background-attachment: fixed;
  background-image: url(../Img/bg-quote.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
.desing .desing_man {
  text-align: center;
  color: #fff;
  margin: 90px 0px;
}
.desing span {
  color: red;
}
.desing button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.6s ease-in-out;
}
.desing button:hover {
  background-color: #fff;
  color: red;
}

.process {
  padding: 100px 0;
}
.process .process_us h1 {
  text-align: center;
}
.process .process_us p {
  text-align: center;
}
.process .procss_all {
  position: relative;
  left: 100px;
}
.process .procss_all .process_icon {
  float: left;
  position: relative;
}
.process .procss_all .process_icon span {
  position: absolute;
  right: 30px;
  top: 4px;
  border: 2px solid #000;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 40px;
}
.process .procss_all .process_icon span i {
  text-align: center;
  padding-top: 20px;
}
.process .procss_all .procss_plan li a {
  text-decoration: none;
  color: #000;
}

.work {
  padding: 100px 0px;
  text-align: center;
  background-color: #f8f9fa;
}

.work_girl {
  position: relative;
  background-image: url(../Img/bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}
.work_girl .comp {
  background-image: url(../Img/macbook.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  margin: 200px 0px;
}
.work_girl .comp .screen {
  width: 418px;
  position: absolute;
  left: 16%;
  top: 31%;
  z-index: 0;
}
.work_girl .comp .screen img {
  height: auto;
  width: 100%;
}
.work_girl .work_text {
  position: absolute;
  bottom: 40%;
  left: 30%;
}
.work_girl .work_text h4 {
  color: #fff;
}
.work_girl .work_text p {
  font-size: 20px;
  color: #fff;
}
.work_girl .work_text a {
  text-decoration: none;
  color: #fff;
  padding: 7px 40px;
  border: 1px solid #fff;
  transition: all 0.2s ease-in-out;
}
.work_girl .work_text a:hover {
  color: red;
  background-color: #fff;
}

header {
  background-attachment: fixed;
  background-image: url(../Img/bg-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
header .nav {
  position: fixed;
  margin: 0 44px;
  /* float: right; */
  top: 0;
  right: 0;
  left: 100px;
  z-index: 1030;
  display: flex;
}
header .nav .logo {
  margin: 20px 0;
}
header .nav .logo img {
  height: 50px;
}
header .nav ul {
  list-style-type: none;
}
header .nav ul li {
  margin: 40px 0;
  display: inline-block;
}
header .nav ul li a {
  color: #fff;
  padding: 15px;
  transition: all 0.5s ease-in-out;
}
header .nav ul li a:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
header .cow {
  margin: 0 40%;
  color: #fff;
}
header .cow p {
  font-size: 25px;
}
header .cow hr {
  border-color: #EF4035;
}
header .cow img {
  height: 200px;
}
header .next span {
  margin: 45%;
}
header .next span i {
  background-color: transparent;
  color: #fff;
  font-size: 30px;
}

/*# sourceMappingURL=styal.css.map */
